body {
    width: 100%;
}

h2 {
    margin-top: 150px;
    text-align: center;
    animation: change-color 4s infinite;
}

@keyframes change-color {
    0%{color:rgb(66, 133, 244);}
    24%{color:rgb(66, 133, 244);}
    49%{color:rgb(219, 68, 55);}
    74%{color:rgb(244, 180, 0)}
    100%{color:rgb(15, 157, 88)}
}

nav{
    background-color: rgba(0,0,0,0.8);
    padding: 0.1rem;
    position: fixed;
    width: 100%;
    border-radius: 10px;
    margin-top: -30px
}

.nav_item{
    display: inline-block;
    padding: 3rem;
    margin-left: 65px;
}

.nav_font{
    color: yellow;
    text-decoration: none;
    padding: 2rem;
}

.appetizer_section{
    margin-top: 80px;
    height: 2000px;
    background-color: rgba(202,17,0);
}

.pizza_section{
    height: 1700px;
    background-color: orange;
}

.side_section{
    height: 2400px;
    background-color: rgb(126, 87, 194);
}

.drink_section{
    height: 1800px;
    background-color: cyan;
}

.image {
    float: left;
    width: 200px;
    margin-left: 50px;
    margin-bottom: 90px;
}
.text  {
    float: right;   
    width: 200px;
    padding: 80px;
    margin-left: 50px;
    margin-bottom: 70px;
    cursor: default;
}

